#### carregando as bibliotecas necessárias

In [44]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from scipy import stats #importa apenas as funções de estatísticas da biblioteca SciPy.

#### verificando o repositório

In [45]:
import os
print(f'Esperamos trabalhar no diretório: \n{os.getcwd()}\n')
dados = pd.read_csv('dados.csv')

Esperamos trabalhar no diretório:
C:\Users\taina\OneDrive\Área de Trabalho

In [16]:
dados.head()

,titulo,autor,ISBN_13,ISBN_10,ano,paginas,idioma,editora,rating,avaliacao,resenha,abandonos,relendo,querem_ler,lendo,leram,descricao,genero,male,female
0,Orçamento sem falhas,Nath Finanças,9.786556e+12,6555601566,2021,128,português,Intrínseca,0.0,0,0,0,0,1,0,0,"Quando o assunto é dinheiro, não dá para achar...","Economia, Finanças / Literatura Brasileira / N...",28,72
1,Minha Sombria Vanessa,Kate Elizabeth Russell,9.788551e+12,8551006274,2020,432,português,Intrínseca,4.3,2,653,48,3,6,389,2,Elogiado por Gillian Flynn e considerado um do...,Drama / Ficção / Literatura Estrangeira / Susp...,7,93
2,Recursão,Blake Crouch,9.788551e+12,8551005375,2020,320,português,Intrínseca,4.4,2,618,22,2,6,295,2,E se um dia memórias vívidas de coisas que nun...,Ficção / Ficção científica / Literatura Estran...,21,79
3,"M, o Filho do Século",Antonio Scurati,9.788551e+12,855100607X,2020,816,português,Intrínseca,4.6,60,12,1,0,951,49,55,"O romance M, o Filho do Século conta em trama ...","Biografia, Autobiografia, Memórias / História ...",37,63
4,Oblivion Song: Entre Dois Mundos,Robert Kirkman,9.788551e+12,8551006258,2020,136,português,Intrínseca,4.1,166,16,0,0,376,6,184,Mestre em traçar universos distópicos permeado...,"Ficção / HQ, comics, mangá / Literatura Estran...",44,56

### Conhecendo os itens de cada uma das colunas do Data Frame

* IDIOMAS DISPONÍVEIS

In [40]:
dados['idioma'].value_counts().to_frame()

           idioma
português   11831
inglês         96
espanhol       43
francês         1
italiano        1
holandês        1

* EDITORAS

In [41]:
dados['editora'].value_counts().to_frame()

            editora
Rocco          3468
Planeta        1326
Intrínseca     1310
Sextante       1258
Universo        845
...             ...
Vozes             1
Hoo               1
Três              1
Simon             1
Domínio           1

[90 rows x 1 columns]